
div#investigate_page{
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    width: 800px;
    margin: 20px auto;
    color: #666666;
    font-family: 'Microsoft YaHei';
}

div#investigate_title{
    text-align: left;
    margin: auto 20px auto 20px;
}

div#investigate_range{
    text-align: left;
    padding: 20px;
}

div.question{
    padding: 15px 0px;
}

div.question_title{
    font-size: 16px;
}

div.question_choice_range{
    padding: 10px 0px 0px 5px;
    margin:0px;
    font-size: 14px;
}

ul.question_choices{
    padding:0px;
    margin: 0px;
    list-style-type: none;
}

ul.question_choices li{
    padding: 5px 0px;
}

ul.question_choices li input{
    border:1px solid #77a5b4;
    padding: 5px;
    margin-left: 15px;
}

table.question_matrix_table{
    background-color: #dbdbdb;
    font-size: 14px;
    width: 100%;
}

table.question_matrix_table tr td:first-child{
    width: 150px;
}

table.question_matrix_table tr td{
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

table.question_matrix_table tr td input{
    border:1px solid #77a5b4;
    padding: 5px;
}

table.question_matrix_table tr td textarea{
    border:1px solid #77a5b4;
    overflow: hidden;
}